body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: colum;
}
body * {
  border: .1px solid red;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}
ul, li {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
.menuNav {
  width: 100%;
  flex: 1;
  align-self: flex-end;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuItem {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}