body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: colum;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}
ul,
li {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.menuNav {
  align-self: flex-end;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: lightblue;
}
.menuBtn {
  height: 2rem;
  width: 2rem;
}
